<% if @error %>
  $('#vkusers').append("<hr>");
  $('#vkusers').append('<div class="notice"><%= @error %></div>');
<% else %>
  $('#vkusers').append("<hr>");
  $('#vkusers').append("<%= @content %>");
<% end %>
