/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

h3, h4, h5, h6{
  margin: 2px;
}

*{
  position: relative;
}
.notice{
  color: green;
}
.error{
  color: red;
}
#main{
  max-width: 1000px;
  height: 700px;
  border: 1px solid black;
}
#filters{
  width: 100%;
  background: #fff;
  border-bottom: 1px solid gray;
}
.filter{
  width: 100px;
  height: 20px;
  text-align: center;
  border-right: 2px solid red;
}
#aside{
  position: relative;
  float: right;
  background: #ffa;
  height: 100%;
  width: 120px;
}

#criterions{
  height: 100%;
  float: left;
}

#articles{
  width: 500px;
  margin-left: 10px;
  height: 100%;
  overflow: auto;
  float: left;
}

.criterions_filter{
  overflow-y: auto;
  vertical-align: top;
/*  float: left;*/
  height: 100%;
  width: 100px;
  border-right: 2px solid #999;
  background-color: #fff;
}
