// Place all the styles related to the dmp controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.ok_ajax{
  border: 2px inset #eee;
  background-color: #efe;
}

.dmp_content{
  margin: 10px;
  font-size: 20px;
  background: #eee;
}